<app-header></app-header>
<main role="main">
  <section class="jumbotron text-center">
    <div class="alert alert-danger text-center">
      Token expired in {{timeLeft}}
    </div>
  </section>
  <div class="container">
    <div class="card" *ngFor="let contact of contactService.getAllContacts() | async">
      <div class="card-body">
        <div class="row">
          <div class="col-10 border-right">
            <a class="page-link shadow-sm" routerLink="/detail/{{contact.id}}">
          <span>
            <div class="row">
              <div class="col-4"><p class="text text-xl-center">{{contact.lastName}}</p></div>
              <div class="col-4"><p class="text">{{contact.firstName}}</p></div>
              <div class="col-4"><p class="text">{{contact.description}}</p></div>
            </div>

          </span>
            </a>
          </div>
          <div class="col-2">
            <div class="btn-group btn-block">
              <!--            <button class="btn btn-primary" routerLink="/detail/{{contact.id}}">Show or edit</button>-->
              <button class="btn btn-danger" (click)="onClickRemove(contact.id)">Remove</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
