<app-header></app-header>
<main role="main">
  <div class="row" style="margin-top: 2%">
    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let contact of contactService.contacts | async">
          <a class="btn btn-link" (click)="setContactToDisplay(contact.id)">
            <b>{{contact.firstName}}</b> {{contact.lastName}}</a>
        </li>
      </ul>
    </div>
    <div class="col-md-8" *ngIf="showContact">
      <app-contact-deatails [contactId]="contactIdToDisplay"></app-contact-deatails>
    </div>
  </div>
</main>
