<form [formGroup]="recoveryForm" class="border border-light p-5" (ngSubmit)="onSubmit()">
  <div id="recovery-box">

    <div class="left">
      <h1>Recovery Password</h1>
      <p>When you fill in your registered email address, you will be sent instructions on how to reset your
        password.</p>
      <div>
        <input type="text" name="email" formControlName="email" placeholder="E-mail"/>
      </div>

      <div
        *ngIf="recoveryForm.controls['email'].invalid && (recoveryForm.controls['email'].dirty || recoveryForm.controls['email'].touched)"
        class="alert alert-danger">

        <div *ngIf="recoveryForm.controls['email'].errors.required">
          Email is required.
        </div>

        <div *ngIf="recoveryForm.controls['email'].errors.email">
          Email must be a valid email address.
        </div>
      </div>
      <div>
        <button mat-raised-button color="primary" type="submit"
                [disabled]="recoveryForm.pristine || recoveryForm.invalid">Send
        </button>

      </div>
      <section *ngIf="loading" class="jumbotron text-center">
      </section>
    </div>
  </div>

</form>


