<ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs justify-content-center" keyboard="changeWithArrows"
    id="navbar-contact-details">
  <li [ngbNavItem]="1">
    <a ngbNavLink>{{'ContactDetails.info' | translate}}</a>
    <ng-template ngbNavContent>
      <app-contact [contactId]="contactId"></app-contact>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>{{'ContactDetails.phones' | translate}}</a>
    <ng-template ngbNavContent>
      <app-phone [contactId]="contactId"></app-phone>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink>{{'ContactDetails.mails' | translate}}</a>
    <ng-template ngbNavContent>
      <app-email [contactId]="contactId"></app-email>
    </ng-template>
  </li>
  <li [ngbNavItem]="4">
    <a ngbNavLink>{{'ContactDetails.addresses' | translate}}</a>
    <ng-template ngbNavContent>
      <app-address [contactId]="contactId"></app-address>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav" class="mt-1"></div>
