<ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs justify-content-center" keyboard="changeWithArrows"
    id="navbar-contact-details">
  <li [ngbNavItem]="1">
    <a ngbNavLink placement="top" ngbTooltip="Contact info" id="tab-link-info">Info</a>
    <ng-template ngbNavContent id="tab-info-content">
      <app-contact [contactId]="contactId"></app-contact>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink placement="top" ngbTooltip="Contact phones">Phones</a>
    <ng-template ngbNavContent id="tab-phones-content">
      <app-phone [contactId]="contactId"></app-phone>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink placement="top" ngbTooltip="Contact emails">Emails</a>
    <ng-template ngbNavContent id="tab-emails-content">
      <app-email [contactId]="contactId"></app-email>
    </ng-template>
  </li>
  <li [ngbNavItem]="4">
    <a ngbNavLink placement="top" ngbTooltip="Contact addresses">Addresses</a>
    <ng-template ngbNavContent id="tab-addresses-content">
      <app-address [contactId]="contactId"></app-address>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav" class="mt-1"></div>
