<div class="d-flex justify-content-center" *ngIf="phonesToDisplay">
  <table class="w-75 table table-striped" id="items-table-phone">
    <thead>
    <tr>
      <th scope="col">
        <a (click)="sort('countryCode')" [routerLink]="'.'" class="text-secondary" placement="top"
           ngbTooltip="click to sort">Country code
          <span>
            <app-sort-icon [show]="sortBy === 'countryCode'" [iconUp]="reverseSort"></app-sort-icon>
          </span>
        </a>
      </th>
      <th scope="col">
        <a (click)="sort('phoneNumber')" [routerLink]="'.'" class="text-secondary" placement="top"
           ngbTooltip="click to sort">Phone number
          <span>
            <app-sort-icon [show]="sortBy === 'phoneNumber'" [iconUp]="reverseSort"></app-sort-icon>
          </span>
        </a>
      </th>
      <th scope="col" class="w-5 ml-auto">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr class="col" *ngFor="let phoneItem of phonesToDisplay">
      <td class="row-table-cc">
        <ngb-highlight [result]="phoneItem.countryCode"></ngb-highlight>
      </td>
      <td class="row-table-pn">
        <ngb-highlight [result]="phoneItem.phoneNumber"></ngb-highlight>
      </td>
      <td ngbDropdown class="nav-item ml-auto">

        <button class="btn btn-outline-light btn-block" ngbDropdownToggle>
          <app-action-btn-icon></app-action-btn-icon>
        </button>

        <div ngbDropdownMenu>
          <button ngbDropdownItem class="btn-phone-edit" (click)="onClickEdit(phoneItem)">Edit</button>
          <button ngbDropdownItem class="btn-phone-remove" placement="bottom" ngbTooltip="permanently deleting"
                  (click)="onClickRemove(phoneItem.id)">Remove
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
