<div class="nav navbar row">
  <form [formGroup]="searchFormEmail" id="search-form-email">
    <div class="form-group form-inline pt-2 mr-auto">
      <label for="search">Search: </label>
      <input class="form-control ml-2" type="text" formControlName="searchInput" placeholder="Search..." id="search">
    </div>
  </form>
  <div class="ml-auto">
    <button class="btn btn-info text-white" id="btn-add-phone" (click)="openModalAddEmail()">Add email</button>
  </div>
</div>

<app-email-table *ngIf="!errorMessage && !loading"
                 [sortedEmailsToDisplay]="emailsToDisplay | emailFilter: searchTerm"></app-email-table>

<div *ngIf="(emailsToDisplay | emailFilter: searchTerm).length === 0 && !errorMessage && !loading">
  <ngb-alert type="warning" role="alert" class="text-center" [dismissible]="false">
    <b>No results</b>
  </ngb-alert>
</div>

<div *ngIf="errorMessage">
  <ngb-alert type="danger" role="alert" class="text-center" [dismissible]="false">
    <b>{{errorMessage}}</b>
  </ngb-alert>
</div>

<div *ngIf="loading">
  <ngb-alert type="secondary" role="alert" class="text-center" [dismissible]="false">
    <b>Loading </b>
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </ngb-alert>
</div>
