<div class="modal-header" id="add-contact-modal">
  <h4 class="modal-title">Edit phone</h4>
  <a type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')" placement="bottom"
     ngbTooltip="close this window">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
<form [formGroup]="phoneForm" novalidate (ngSubmit)="onClickSave()" id="phone-form" *ngIf="preSelectedCountryCode">
  <div class="modal-body">
    <div class="form-group">
      <label for="cc-select">Select country code</label>
      <select class="custom-select" (change)="onChangeSelectedElement($event)" id="cc-select" [disabled]="loading">
        <option selected [value]="preSelectedCountryCode.dial_code">
          {{preSelectedCountryCode.name}} ({{preSelectedCountryCode.dial_code}})
        </option>
        <option *ngFor="let country of sortedCountriesForSelect" [value]="country.dial_code">
          {{country.name}} ({{country.dial_code}})
        </option>
      </select>
    </div>
    <label for="selected-cc">Phone number</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">{{selectedCountryCode}}</span>
      </div>
      <input class="form-control" type="tel" placeholder="Phone number..." [readOnly]="loading"
             formControlName="phoneNumber" id="selected-cc">
      <div class="input-group-append">
        <button *ngIf="!loading" [disabled]="phoneForm.invalid" class="btn btn-primary" type="submit">Save phone
        </button>

        <button *ngIf="loading" class="btn btn-primary" disabled type="button">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Loading...
        </button>
      </div>
    </div>
  </div>
</form>
<div class="card-footer">
  <p>
    <ngb-alert *ngIf="phoneForm.invalid && (phoneForm.dirty || phoneForm.touched)" type="info" [dismissible]="false"
               class="text-center alert-form-invalid">
      Allowed length of the phone number must be between 5 and 12 digits
    </ngb-alert>
    <ngb-alert *ngIf="alertMessage" type="{{alertType}}" (close)="onCloseAlert()"
               [dismissible]="preSelectedCountryCode !== undefined" class="text-center alert-message">
      {{alertMessage}}
    </ngb-alert>
  </p>
</div>

