<div class="modal-header" id="add-contact-modal">
  <h4 class="modal-title">{{'FormsTitle.editPhone' | translate}}</h4>
  <a type="button" class="close" aria-label="Close" (click)="onClickCancel()" placement="bottom"
     ngbTooltip="{{'PlaceHolders.closeModal' | translate}}">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
<form [formGroup]="phoneEditForm" novalidate (ngSubmit)="onClickSave()" id="phone-edit-form"
      *ngIf="preSelectedCountryCode">
  <div class="modal-body">
    <div class="form-group">
      <label for="cc-select">{{'PhoneTable.cc' | translate}}</label>
      <select class="custom-select" (change)="onChangeSelectedElement($event)" id="cc-select" [disabled]="loading">
        <option selected [value]="preSelectedCountryCode.dial_code">
          {{preSelectedCountryCode.name}} ({{preSelectedCountryCode.dial_code}})
        </option>
        <option *ngFor="let country of sortedCountriesForSelect" [value]="country.dial_code">
          {{country.name}} ({{country.dial_code}})
        </option>
      </select>
    </div>
    <label for="selected-cc">{{'PhoneTable.pn' | translate}}</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">{{selectedCountryCode}}</span>
      </div>
      <input class="form-control" type="tel" [readOnly]="loading"
             formControlName="phoneNumber" id="selected-cc">
      <div class="input-group-append">
        <button *ngIf="!loading" [disabled]="phoneEditForm.invalid" class="btn btn-primary" type="submit">
          {{'PlaceHolders.save' | translate}}
        </button>

        <button *ngIf="loading" class="btn btn-primary" disabled type="button">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          {{'PlaceHolders.loading' | translate}}...
        </button>
      </div>
    </div>
  </div>
</form>
<div class="card-footer">
  <p>
    <ngb-alert *ngIf="alertMessage" type="danger" (close)="onCloseAlert()" placement="top"
               ngbTooltip="close this window">
      {{alertMessage}}
    </ngb-alert>
    <ngb-alert *ngIf="phoneEditForm.invalid && (phoneEditForm.dirty || phoneEditForm.touched)" type="info"
               [dismissible]="false">
      {{'FormErrorMsg.phoneInvalidMsg' | translate}}
    </ngb-alert>
  </p>
</div>

