<div class="modal-header" id="add-contact-modal">
  <h4 class="modal-title">Add new phone</h4>
  <a type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')" placement="bottom"
     ngbTooltip="close this window">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
<form [formGroup]="addressForm" novalidate (ngSubmit)="onClickSave()" id="phone-form">
  <div class="modal-body">
    <div class="form-group">
      <label for="cc-select">Select country</label>
      <select class="custom-select" (change)="selectChangeHandler($event)" id="cc-select" [disabled]="loading">
        <option selected [value]="preSelectedCountry.name">
          {{preSelectedCountry.name}}
        </option>
        <option *ngFor="let country of sortedCountriesForSelect" [value]="country.name">
          {{country.name}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="input-city">City</label>
      <input class="form-control" type="tel" placeholder="City..." [readOnly]="loading"
             formControlName="city" id="input-city">
    </div>
    <div class="form-group">
      <label for="input-zip">Zip</label>
      <input class="form-control" type="tel" placeholder="Zip..." [readOnly]="loading"
             formControlName="zip" id="input-zip">
    </div>
    <div class="form-group">
      <label for="input-street">Address*</label>
      <input class="form-control" type="tel" placeholder="Address..." [readOnly]="loading"
             formControlName="street" id="input-street">
    </div>
    <div>
      <button *ngIf="!loading" [disabled]="addressForm.invalid" class="btn btn-primary btn-block" type="submit">Save
        address
      </button>

      <button *ngIf="loading" class="btn btn-primary btn-block loading-btn" disabled type="button">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
      </button>
    </div>
  </div>
</form>

<div class="card-footer">
  <p>
    <ngb-alert *ngIf="alertMessage" type="{{alertType}}" (close)="onCloseAlert()" placement="top"
               ngbTooltip="close this window">
      {{alertMessage}}
    </ngb-alert>
    <ngb-alert *ngIf="addressForm.invalid && (addressForm.dirty || addressForm.touched)" type="info"
               [dismissible]="false">
      To save, you must fill in the address field
    </ngb-alert>
  </p>
</div>

