<div class="row sidenav">
  <div class="col-xl-6 text-right bg-dark text-white" style="padding-top:5px">
    <div class="card-body">
      <div class="card-body ">
        <h2>{{projectName}}<br></h2>
        <h3>{{pageName}}</h3>
        <a class="btn-link" routerLink="/user/login">Already have an account?</a> <br>
        <a class="btn-link" routerLink="/user/registration">Register new account</a>
      </div>
    </div>
  </div>
  <div class="col-xl-3 bg-transparent rounded-right">
    <div class="card-body shadow-lg bg-white">
      <form [formGroup]="form" novalidate class="border border-light p-5" (ngSubmit)="onSubmit()" id="forgot-pass-form">

        <div class="form-group">
          <input class="form-control mb-2 rounded-pill" id="defaultRegisterFormEmail" formControlName="email"
                 type="email"
                 placeholder="Email" [readOnly]="loading" name="email">
        </div>

        <button type="submit" *ngIf="!loading" [disabled]="form.pristine || form.invalid"
                class="btn btn-info my-1 btn-block">
          Send
        </button>

        <button *ngIf="loading" class="btn btn-info my-1 btn-block" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Loading...
        </button>

      </form>
    </div>
  </div>
  <div class="col-xl-3 bg-transparent">
    <div class="card-body" [class.bg-success]="load && !errorMessage">
      <div
        *ngIf="form.invalid && (form.controls['email'].dirty || form.controls['email'].touched)"
        class="alert alert-danger">
        <div *ngIf="form.controls['email'].errors.required" id="email-error-required">
          Email is required.
        </div>
        <div *ngIf="form.controls['email'].errors.pattern" id="email-error-invalid">
          Email must be a valid email address.
        </div>
      </div>

      <div *ngIf="errorMessage" class="alert alert-danger" id="error-message">
        {{errorMessage}}<br>
      </div>

      <div *ngIf="!errorMessage && load" class="text-white" id="success-message">
        <h6>Password recovery instructions have been sent to <u>{{email}}</u>.</h6>
      </div>
    </div>
  </div>
</div>
