<div class="row sidenav">
  <div class="col-xl-6 text-right text-white bg-dark">
    <div class="card-body ">
      <h2>{{projectName}}<br></h2>
      <h3>{{pageName}}</h3>
      <a class="btn-link" routerLink="/user/login">Already have an account?</a> <br>
      <a class="btn-link" routerLink="/user/registration">Register new account</a>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card-body">
      <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()" id="forgot-pass-form">

        <div class="row">
          <div class="col-sm-5">

            <div class="form-group">
              <input class="form-control mb-2 rounded-pill" id="defaultRegisterFormEmail" formControlName="email"
                     type="email"
                     placeholder="Email" [readOnly]="loading" name="email">
            </div>

          </div>
          <div class="col-sm-7">

            <div *ngIf="form.invalid && (form.controls['email'].dirty || form.controls['email'].touched)"
                 class="alert alert-danger">
              <div *ngIf="form.controls['email'].errors.required" id="email-error-required">
                Email is required.
              </div>
              <div *ngIf="form.controls['email'].errors.pattern" id="email-error-invalid">
                Email must be a valid email address.
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-sm-5">

            <button type="submit" *ngIf="!loading" [disabled]="form.pristine || form.invalid"
                    class="btn btn-info my-1 btn-block">
              Send
            </button>

            <button *ngIf="loading" class="btn btn-info my-1 btn-block" type="button" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Loading...
            </button>

          </div>
          <div class="col-sm-7">

            <div *ngIf="errorMessage" class="alert alert-danger" id="error-message">
              {{errorMessage}}<br>
            </div>
          </div>

        </div>
      </form>

      <div class="row" *ngIf="load && !errorMessage">
        <div class="col-sm-5">
          <div class="card-body text-white bg-success" id="success-message">
            <h6>Password recovery instructions have been sent to <u>{{email}}</u>.</h6>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
