<div class="card-header">
  <h4 class="card-title">Password</h4>
</div>
<div class="card-body">
  <h5>Change password</h5>
  <form [formGroup]="form" novalidate class="p-5" (ngSubmit)="onSubmit()" id="pass-change-form">
    <div class="form-group">
      <input type="password" formControlName="password" placeholder="Password" class="form-control mb-2"
             name="passwordInput">
    </div>
    <div
      *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)"
      class="alert alert-danger" id="password-error">
      <div *ngIf="form.controls['password'].errors.required" id="password-error-required">
        Password is required.
      </div>
      <div *ngIf="form.controls['password'].errors.minlength" id="password-error-minlength">
        Password must be at least 8 characters.
      </div>
      <div *ngIf="form.controls['password'].errors.maxlength" id="password-error-maxlength">
        Password must be at least 20 characters.
      </div>
    </div>

    <div class="form-group" [hidden]="form.controls['password'].invalid">
      <input type="password" formControlName="confirm_password" placeholder="Confirm Password"
             class="form-control mb-2" name="confirmPasswordInput">
    </div>
    <div class="alert alert-danger" id="password-confirm-error-matcher"
         *ngIf="form.controls['confirm_password'].errors && (form.controls['confirm_password'].dirty || form.controls['confirm_password'].touched)" [hidden]="form.controls['password'].invalid">
      Passwords do not match.
    </div>
    <button *ngIf="!loading" class="btn btn-info my-4 btn-block" type="submit"
            [disabled]="form.pristine || form.invalid">
      Submit
    </button>
    <button *ngIf="loading" class="btn btn-info my-4 btn-block" type="button" disabled><span
      class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Loading...
    </button>
    <div class="alert alert-danger" *ngIf="errorMessage" id="error-message">
      {{errorMessage}}
    </div>
    <div class="alert alert-success" *ngIf="loadingSuccess && !errorMessage" id="success-message">
      Your password has been successfully changed
    </div>
  </form>
</div>
