<div class="modal-header" id="add-contact-modal">
  <h4 class="modal-title">{{'FormsTitle.addContact' | translate}}</h4>
  <a type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')" placement="bottom"
     ngbTooltip="{{'PlaceHolders.closeModal' | translate}}">
    <span aria-hidden="true">&times;</span>
  </a>
</div>

<div class="modal-body">
  <form [formGroup]="form" novalidate (ngSubmit)="onClickSave()" id="add-contact-form">
    <div class="form-group">
      <label for="form-name">{{'ContactDetailsInfo.fieldFirstName' | translate}}*</label>
      <input class="form-control" id="form-name" placeholder="{{'ContactDetailsInfo.fieldFirstName' | translate}}" type="text" formControlName="firstName"
             [readOnly]="loading">
    </div>

    <div class="form-group">
      <label for="form-lastName">{{'ContactDetailsInfo.fieldLastName' | translate}}</label>
      <input class="form-control" id="form-lastName" placeholder="{{'ContactDetailsInfo.fieldLastName' | translate}}" type="text" formControlName="lastName"
             [readOnly]="form.invalid || loading">
    </div>

    <div class="form-group">
      <label for="form-about">{{'ContactDetailsInfo.fieldAbout' | translate}}</label>
      <input class="form-control" id="form-about" placeholder="About" type="text" formControlName="description"
             [readOnly]="form.invalid || loading">
    </div>

    <div class="row d-flex justify-content-end mr-2">
      <button (click)="onClickCancel()" class="btn btn-secondary mr-2" type="reset">{{'PlaceHolders.cancel' | translate}}</button>

      <button *ngIf="!loading" [disabled]="form.invalid" class="btn btn-primary" type="submit">{{'PlaceHolders.save' | translate}}</button>

      <button *ngIf="loading" class="btn btn-primary" disabled type="button">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        {{'PlaceHolders.loading' | translate}}...
      </button>
    </div>

  </form>
</div>

<div class="card-footer">
  <p>
    <ngb-alert type="danger" [dismissible]="false" id="form-error-firstName"
               *ngIf="form.invalid && (form.controls['firstName'].dirty || form.controls['firstName'].touched)">
      {{'FormErrorMsg.editContact' | translate}}
    </ngb-alert>
  </p>
</div>

