<app-header></app-header>
<form [formGroup]="form" class="border border-light p-5" (ngSubmit)="onSubmit()">
  <p class="h4 mb-4 text-center text-info font-weight-bold">{{title}}</p>
  <div *ngIf="submitted; else ngsubmitedFalse">
    <div class="d-flex justify-content-center">
      <p>Enter new password.</p>
    </div>

    <div class="form-group">
      <input type="password" formControlName="password" placeholder="Password" class="form-control mb-2">
    </div>
    <div
      *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)"
      class="alert alert-danger">
      <div *ngIf="form.controls['password'].errors.required">
        Password is required.
      </div>
      <div *ngIf="form.controls['password'].errors.minlength">
        Password must be at least 8 characters.
      </div>
      <div *ngIf="form.controls['password'].errors.maxlength">
        Password must be at least 20 characters.
      </div>
    </div>

  <div class="form-group">
    <input type="password" formControlName="confirm_password" placeholder="Confirm Password" class="form-control mb-2">
  </div>
    <div class="alert alert-danger" id="password-confirm-error-matcher"
         *ngIf="form.controls['confirm_password'].errors && (form.controls['confirm_password'].dirty || form.controls['confirm_password'].touched)" [hidden]="form.controls['password'].invalid">
      Passwords do not match.
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{errorMessage}}<br>
    </div>
    <button class="btn btn-info my-4 btn-block" type="submit"
            [disabled]="form.pristine || form.invalid">Submit
    </button>
  </div>
  <section *ngIf="loading" class="jumbotron text-center">
    <div class="container">
      <h4>Please wait.....</h4>
    </div>
  </section>
  <ng-template #ngsubmitedFalse>
    <section class="jumbotron text-center">
      <div class="container">
        <h4>Your new password is now activated</h4>
        <a class="btn btn-success btn-block" routerLink="/user/login">Login</a>
      </div>
    </section>
  </ng-template>
</form>
<app-footer></app-footer>
