<div class="modal-header" id="add-email-modal">
  <h4 class="modal-title">{{'FormsTitle.addEmail' | translate}}</h4>
  <a type="button" class="close" aria-label="Close" (click)="onClickCancel()" placement="bottom"
     ngbTooltip="{{'PlaceHolders.closeModal' | translate}}">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
<form [formGroup]="emailAddForm" novalidate (ngSubmit)="onClickSave()" id="email-add-form">
  <div class="modal-body">
    <label for="input-email">{{'EmailTable.email' | translate}}*</label>
    <div class="input-group mb-3">
      <input class="form-control" type="email" placeholder="{{'EmailTable.email' | translate}}" [readOnly]="loading"
             formControlName="email" id="input-email">
      <div class="input-group-append">
        <button *ngIf="!loading" [disabled]="emailAddForm.invalid" class="btn btn-primary" type="submit">
          {{'PlaceHolders.save' | translate}}
        </button>

        <button *ngIf="loading" class="btn btn-primary" disabled type="button">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          {{'PlaceHolders.loading' | translate}}...
        </button>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <p>
      <ngb-alert *ngIf="emailAddForm.invalid && (emailAddForm.dirty || emailAddForm.touched)" type="info"
                 [dismissible]="false">
        {{'FormErrorMsg.emailInvalidMsg' | translate}}
      </ngb-alert>
    </p>
  </div>
</form>
