<div class="modal-header" id="add-contact-modal">
  <h4 class="modal-title">Add new email</h4>
  <a type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')" placement="bottom"
     ngbTooltip="close this window">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
<form [formGroup]="emailForm" novalidate (ngSubmit)="onClickSave()" id="email-form">
  <div class="modal-body">
    <label for="id">Email</label>
    <div class="input-group mb-3">
      <input class="form-control" type="email" placeholder="Email..." [readOnly]="loading"
             formControlName="email" id="id">
      <div class="input-group-append">
        <button *ngIf="!loading" [disabled]="emailForm.invalid" class="btn btn-primary" type="submit">Save email
        </button>

        <button *ngIf="loading" class="btn btn-primary" disabled type="button">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Loading...
        </button>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <p>
      <ngb-alert *ngIf="alertMessage" type="{{alertType}}" (close)="onCloseAlert()" placement="top"
                 ngbTooltip="close this window">
        {{alertMessage}}
      </ngb-alert>
      <ngb-alert *ngIf="emailForm.invalid && (emailForm.dirty || emailForm.touched)" type="info" [dismissible]="false">
        Only email is allowed here
      </ngb-alert>
    </p>
  </div>
</form>
