<div class="d-flex justify-content-center" *ngIf="sortedAddressesToDisplay">
  <table class="table table-striped" id="items-table-address">
    <thead>
    <tr>
      <th scope="col">
        <a (click)="sort('country')" [routerLink]="'.'" class="text-secondary sort-by-country" placement="top"
           ngbTooltip="click to sort by country">Country
          <span>
            <app-sort-icon [show]="sortBy === 'country'" [iconUp]="reverseSort"></app-sort-icon>
          </span>
        </a>
      </th>
      <th scope="col">

        <a (click)="sort('city')" [routerLink]="'.'" class="text-secondary sort-by-city" placement="top"
           ngbTooltip="click to sort by city">City
          <span>
            <app-sort-icon [show]="sortBy === 'city'" [iconUp]="reverseSort"></app-sort-icon>
          </span>
        </a>

      </th>
      <th scope="col">

        <a (click)="sort('zip')" [routerLink]="'.'" class="text-secondary sort-by-zip" placement="top"
           ngbTooltip="click to sort by zip">Zip
          <span>
            <app-sort-icon [show]="sortBy === 'zip'" [iconUp]="reverseSort"></app-sort-icon>
          </span>
        </a>

      </th>
      <th scope="col">

        <a (click)="sort('street')" [routerLink]="'.'" class="text-secondary sort-by-street" placement="top"
           ngbTooltip="click to sort by street">Address
          <span>
            <app-sort-icon [show]="sortBy === 'street'" [iconUp]="reverseSort"></app-sort-icon>
          </span>
        </a>

      </th>
      <th scope="col" class="w-5 ml-auto">Action</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let address of sortedAddressesToDisplay">
      <td class="col-country">
        <ngb-highlight [result]="address.country"></ngb-highlight>
      </td>
      <td class="col-city">
        <ngb-highlight [result]="address.city"></ngb-highlight>
      </td>
      <td class="col-zip">
        <ngb-highlight [result]="address.zip"></ngb-highlight>
      </td>
      <td class="col-street">
        <ngb-highlight [result]="address.street"></ngb-highlight>
      </td>
      <td ngbDropdown class="nav-item ml-auto">
        <button class="btn btn-outline-light btn-block" ngbDropdownToggle>
          <app-action-btn-icon></app-action-btn-icon>
        </button>

        <div ngbDropdownMenu>
          <button ngbDropdownItem class="btn-address-edit">Edit</button>
          <button ngbDropdownItem class="btn-address-remove" placement="bottom" ngbTooltip="permanently deleting">
            Remove
          </button>
        </div>

      </td>
    </tr>
    </tbody>
  </table>
</div>
