<div class="card">

  <app-contact [contactId]="contactId"></app-contact>

  <div class="row">
    <div class="col-sm-6">

      <div class="card-header">
        <h5>Phones</h5>
      </div>

      <div class="card-body">
        <ul class="scrollable list-group">
          <li *ngFor="let phone of phoneService.phones | async">
            <app-phone [phoneToDisplay]="phone"></app-phone>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6">

      <div class="card-header">
        <h5>Emails</h5>
      </div>

      <div class="card-body">
        <ul class="scrollable list-group">
          <li *ngFor="let email of emailService.emails | async">
            <app-email [emailToDisplay]="email"></app-email>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <div class="card-header">
    <h5>Addresses</h5>
  </div>

  <div class="card-body">
    <ul class="scrollable-address list-group">
      <li *ngFor="let address of addressService.addresses | async">
        <app-address [addressToDisplay]="address"></app-address>
      </li>
    </ul>
  </div>
</div>
