<div class="card-header bg-secondary text-white d-flex align-items-center">
  <b>My profile</b>
</div>

<div class="list-group" id="profile">
  <div *ngIf="!errorMessageProfile && !loadingProfile" class="d-flex justify-content-between pb-2">
    <button type="button" class="list-group-item list-group-item-action" routerLink="/contacts/{{profile.id}}">
      <b>{{profile.firstName}}</b> {{profile.lastName}}
      <b><i class="text-center" *ngIf="!profile.firstName || !profile.firstName || !profile.description">
        Click to edit your Profile</i></b>
    </button>
  </div>
</div>

<ngb-alert *ngIf="errorMessageProfile" type="danger" role="alert" class="text-center" [dismissible]="false">
  <b>{{errorMessage}}</b>
</ngb-alert>

<ngb-alert *ngIf="loadingProfile" type="secondary" role="alert" class="text-center" [dismissible]="false">
  <b>Loading </b>
  <div class="spinner-border text-primary" role="status"><span class="sr-only">Loading...</span>
  </div>
</ngb-alert>

<ul ngbNav class="nav-tabs bg-secondary text-white d-flex align-items-center p-2">
  <li ngbNavItem class="mr-auto">
    <div class="pl-3"><b>Contacts list</b></div>
  </li>
  <li ngbNavItem class="ml-auto">
    <form [formGroup]="searchContactForm" class="form-inline pr-1" id="search-form-contact">
      <label for="input-search-contact"></label><input class="form-control form-control-sm ml-2"
                                                       formControlName="searchInput" id="input-search-contact"
                                                       placeholder="Search..." type="text">
    </form>
  </li>
</ul>

<div *ngIf="!errorMessage && !loading" id="contacts-list">
  <div class="list-group" *ngFor="let contact of contactsToDisplay | contactFilter: searchTerm">
    <app-contact-item [contactItem]="contact"></app-contact-item>

  </div>
</div>

<ngb-alert *ngIf="(contactsToDisplay| contactFilter: searchTerm).length === 0 && !errorMessage && !loading"
           type="warning" role="alert"
           class="text-center" [dismissible]="false">
  <b>No results</b>
</ngb-alert>

<ngb-alert *ngIf="errorMessage" type="danger" role="alert" class="text-center" [dismissible]="false">
  <b>{{errorMessage}}</b>
</ngb-alert>

<ngb-alert *ngIf="loading" type="secondary" role="alert" class="text-center" [dismissible]="false">
  <b>Loading </b>
  <div class="spinner-border text-primary" role="status"><span class="sr-only">Loading...</span>
  </div>
</ngb-alert>
