<div class="card-header bg-secondary text-white d-flex align-items-center">
  <b>My profile</b>
</div>

<div class="list-group" *ngIf="profile" id="profile">
  <div class="d-flex justify-content-between pb-2">
    <button type="button" class="list-group-item list-group-item-action" routerLink="/contacts/{{profile.id}}">
      <b>{{profile.firstName}}</b> {{profile.lastName}}
    </button>
  </div>
</div>

<ul ngbNav class="nav-tabs bg-secondary text-white d-flex align-items-center p-2">
  <li ngbNavItem class="mr-auto">
    <div class="pl-3"><b>Contacts list</b></div>
  </li>
  <li ngbNavItem class="ml-auto">
    <form [formGroup]="searchContactForm" class="form-inline pr-1" id="search-form-contact">
      <label for="input-search-contact"></label><input class="form-control form-control-sm ml-2"
                                                       formControlName="searchInput" id="input-search-contact"
                                                       placeholder="Search..." type="text">
    </form>
  </li>
</ul>

<div *ngIf="contactsDisplay" id="contacts-list">
  <div class="list-group" *ngFor="let contact of contactsDisplay">
    <app-contact-item [contactItem]="contact"></app-contact-item>
  </div>
</div>
