<div class="nav navbar row">
  <form [formGroup]="searchFormAddress" id="search-form-address">
    <div class="form-group form-inline pt-2 mr-auto">
      <label for="search">{{ 'PlaceHolders.searchLabel' | translate }}</label>
      <input class="form-control ml-2" type="text" formControlName="searchInput"
             placeholder="{{'PlaceHolders.search' | translate}}" id="search">
    </div>
  </form>
  <div class="ml-auto">
    <button class="btn btn-info text-white" id="btn-add-phone"
            (click)="openModalAddAddress()">{{ 'ContactDetails.btnAddAddress' | translate }}</button>
  </div>
</div>

<app-address-table *ngIf="!errorMessage && !loading"
                   [sortedAddressesToDisplay]="addressesToDisplay | addressFilter: searchTerm"></app-address-table>

<div *ngIf="(addressesToDisplay | addressFilter: searchTerm).length === 0 && !errorMessage && !loading">
  <ngb-alert type="warning" role="alert" class="text-center" [dismissible]="false">
    <b>{{ 'PlaceHolders.noResult' | translate }}</b>
  </ngb-alert>
</div>

<div *ngIf="errorMessage">
  <ngb-alert type="danger" role="alert" class="text-center" [dismissible]="false">
    <b>{{errorMessage}}</b>
  </ngb-alert>
</div>

<div *ngIf="loading">
  <ngb-alert type="secondary" role="alert" class="text-center" [dismissible]="false">
    <b>{{ 'PlaceHolders.loading' | translate }}</b>
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">{{ 'PlaceHolders.loading' | translate }}...</span>
    </div>
  </ngb-alert>
</div>
