<div class="nav navbar row">
  <form [formGroup]="searchFormAddress" id="search-form-address">
    <div class="form-group form-inline pt-2">
      Search: <label>
      <input class="form-control ml-2" type="text" formControlName="searchInput" placeholder="Search..."
             id="search">
    </label>
    </div>
  </form>
</div>

<app-address-table *ngIf="addressesFromServer" [sortedAddressesToDisplay]="addressesToDisplay"></app-address-table>

<div *ngIf="addressesToDisplay.length === 0 && !errorMessage && !loading">
  <ngb-alert type="warning" role="alert" class="text-center" [dismissible]="false">
    <b>No results</b>
  </ngb-alert>
</div>
<div *ngIf="errorMessage">
  <ngb-alert type="danger" role="alert" class="text-center" [dismissible]="false">
    <b>{{errorMessage}}</b>
  </ngb-alert>
</div>
<div *ngIf="loading">
  <ngb-alert type="secondary" role="alert" class="text-center" [dismissible]="false">
    <b>Loading </b>
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </ngb-alert>
</div>
