<div class="d-flex justify-content-center" *ngIf="sortedEmailsToDisplay">
  <table class="w-75 table table-striped" id="items-table-email">
    <thead>
    <tr>
      <th scope="col" class="w-95">
        <a (click)="sort()" [routerLink]="'.'" class="text-secondary">Email
          <span>
            <img *ngIf="reverseSort" src="/assets/icons/sort-alpha-up.svg" alt="" width="22" height="22"
                 title="sort-za">
            <img *ngIf="!reverseSort" src="/assets/icons/sort-alpha-down.svg" alt="" width="22" height="22"
                 title="sort-az">
          </span>
        </a>
      </th>
      <th scope="col" class="w-5 ml-auto">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let email of sortedEmailsToDisplay">
      <td class="row-table">
        <ngb-highlight [result]="email.email"></ngb-highlight>
      </td>
      <td ngbDropdown class="nav-item">

        <button class="btn btn-outline-light btn-block" ngbDropdownToggle>
          <img src="/assets/icons/gear.svg" alt="" width="26" height="26" title="gear">
        </button>

        <div ngbDropdownMenu>
          <button ngbDropdownItem class="btn-email-edit">Edit</button>
          <button ngbDropdownItem class="btn-email-remove" placement="bottom" ngbTooltip="permanently deleting">Remove
          </button>
        </div>

      </td>
    </tr>
    </tbody>
  </table>
</div>
