<div class="d-flex justify-content-center" *ngIf="sortedEmailsToDisplay">
  <table class="table table-striped" id="items-table-email">
    <thead>
    <tr>
      <th scope="col" class="w-95 w-75">
        <a (click)="sort('email')" [routerLink]="'.'" class="text-secondary" placement="top" ngbTooltip="click to sort">Email
          <span>
            <app-sort-icon [show]="sortBy === 'email'" [iconUp]="reverseSort"></app-sort-icon>
          </span>
        </a>
      </th>
      <th scope="col" class="w-5 text-center">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let emailItem of sortedEmailsToDisplay">
      <td class="row-table w-95">
        <ngb-highlight [result]="emailItem.email"></ngb-highlight>
      </td>
      <td ngbDropdown class="nav-item w-5">

        <button class="btn btn-outline-light btn-block" ngbDropdownToggle>
          <app-action-btn-icon></app-action-btn-icon>
        </button>

      <div ngbDropdownMenu>
        <button ngbDropdownItem class="btn-email-edit" (click)="onClickEditEmail(emailItem)">Edit</button>
        <button ngbDropdownItem class="btn-email-remove" placement="bottom" ngbTooltip="permanently deleting"
                (click)="onClickRemove(emailItem.id)">Remove
        </button>
      </div>

      </td>
    </tr>
    </tbody>
  </table>
</div>
