<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Remove Contact</h4>
</div>
<div class="modal-body">
  <ngb-alert type="{{alertType}}" class="text-center" [dismissible]="false">{{alertMessage}}</ngb-alert>
  <div class="form-group form-check" *ngIf="hasNoError">
    <input class="form-check-input" type="checkbox" id="check-box-remove-contact"
           (change)="isChecked = !isChecked"
           [checked]="isChecked">
    <label class="form-check-label" for="check-box-remove-contact">I <b>confirm</b> the deletion of the contact</label>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <button *ngIf="!loading" type="button" class="btn btn-warning btn-block" (click)="onClickRemove()"
              [disabled]="!isChecked"
              [class.btn-danger]="isChecked"
              id="submit-remove">Remove
        contact
      </button>
      <button *ngIf="loading" class="btn btn-warning btn-block" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
              id="spinner-remove-contact"></span>
        Loading...
      </button>
    </div>
    <div class="col-sm-6">
      <button type="button" class="btn btn-secondary btn-block"
              (click)="onClickCancel()"
              [disabled]="loading"
              id="cancel-remove-contact">Cancel
      </button>
    </div>
  </div>
</div>
