<div class="d-flex justify-content-center" *ngIf="contactToDisplay">
  <div class="w-100">
    <div class="card">
      <div class="card-header">
        <div class="row text-center">
          <h5>{{'ContactDetailsInfo.title' | translate}}</h5>
          <button type="button" class="btn btn-info ml-auto" id="btn-edit-contact"
                  (click)="onClickEditContact()"
                  [disabled]="isEditStat">{{'ContactDetails.btnEdit' | translate}}
            <span>
              <img class="ml-1" src="assets/icons/wrench.svg" alt="" width="20" height="20" title="">
            </span>
          </button>
        </div>
      </div>
      <div class="card-body" *ngIf="contactToDisplay">
        <form [formGroup]="editContactForm" novalidate (ngSubmit)="onClickSave()" id="edit-contact-form">
          <div class="row">
            <div class="col-sm-3"><p><b>{{'ContactDetailsInfo.fieldFirstName' | translate}}: </b></p></div>
            <div *ngIf="!isEditStat" class="col-sm-9" id="contact-first-name">
              {{contactToDisplay.firstName}}
            </div>
            <div *ngIf="isEditStat" class="col-sm-9">
              <input class="form-control" type="text" formControlName="firstName" name="input-ec-firstName">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3"><p><b>{{'ContactDetailsInfo.fieldLastName' | translate}}:  </b></p></div>
            <div *ngIf="!isEditStat" class="col-sm-9" id="contact-last-name">{{contactToDisplay.lastName}}</div>
            <div *ngIf="isEditStat" class="col-sm-9">
              <input class="form-control" type="text" formControlName="lastName" name="input-ec-lastName">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3"><p><b>{{'ContactDetailsInfo.fieldAbout' | translate}}: </b></p></div>
            <div *ngIf="!isEditStat" class="col-sm-9" id="contact-description">
              {{contactToDisplay.description}}
            </div>
            <div *ngIf="isEditStat" class="col-sm-9">
              <textarea class="form-control" type="text" formControlName="description"
                        name="input-ec-description"></textarea>
            </div>
          </div>
          <div *ngIf="isEditStat" class="row pt-2">
            <hr>
            <div class="col-sm-9">
              <div class="alert-message-block">
                <p>
                  <ngb-alert type="danger" [dismissible]="false" id="form-error-firstName"
                             *ngIf="editContactForm.invalid && (editContactForm.controls['firstName'].dirty || editContactForm.controls['firstName'].touched)">
                    {{'FormErrorMsg.editContact' | translate}}
                  </ngb-alert>
                </p>
                <p>
                  <ngb-alert *ngIf="alertMessage" type="danger" (close)="alertMessage = ''" id="error-message">
                    {{alertMessage}}</ngb-alert>
                </p>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="row d-flex justify-content-end mt-1">
                <button (click)="onClickCancel()" class="btn btn-secondary cancel-btn-ec"
                        type="button">{{'PlaceHolders.cancel' | translate}}</button>
                <button *ngIf="!loading" [disabled]="editContactForm.invalid" class="btn btn-primary submit-btn-ec"
                        type="submit">
                  {{'PlaceHolders.save' | translate}}
                </button>
                <button *ngIf="loading" class="btn btn-primary" disabled type="button" id="loading-spinner-btn-ec">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  {{'PlaceHolders.loading' | translate}}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
